@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Montserrat:wght@100&family=Ubuntu:wght@300&display=swap');
body{
  background: #000;
}
.form-row{
  width: 650px;
}
.ar{
  position: absolute;
  left: 86.5rem;
  background: darkblue;
}
 .navbar{
   background-color: lightblue;
 }
 
 
 .lk{
  
   padding-top: 100px;
 }
 .container{
  margin-top: 110px !important;
 }
 .zk{
   padding-top: 50px;
   width: 70px;
 }